
body {
  font-family: Arial, sans-serif;
  background-color: #181818; 
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #eaeaea; 
}

.task-home {
  display: flex;
  justify-content: space-between;
  background-color: #2c2c2c;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); 
  width: 100%;
  max-width: 1200px;
}


.sidebar {
  width: 250px;
  background-color: #333; 
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); 
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidebar-search input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #444;
  border-radius: 4px;
  background-color: #333;
  color: #eaeaea;
  width: 100%;
}

.sidebar-search input:focus {
  border-color: #4e8ef7;
  outline: none;
}

.sidebar-item {
  padding: 10px;
  background-color: #444; 
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sidebar-item:hover {
  background-color: #4e8ef7; 
}

.sidebar-item.active {
  background-color: #4e8ef7;
}

.task-content {
  width: 100%;
  max-width: 800px;
  margin-left: 30px;
}

.task-input {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.task-input-field {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #444; 
  border-radius: 4px;
  background-color: #333; 
  color: #eaeaea;
  transition: border-color 0.3s;
}

.task-input-field:focus {
  border-color: #4e8ef7; 
  outline: none;
}

.task-input button {
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #4e8ef7; 
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.task-input button:hover {
  background-color: #3b7dcb; 
}


.task-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.task-item {
  background-color: #333;
  padding: 10px;
  border: 1px solid #444;
  border-radius: 4px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-item:nth-child(even) {
  background-color: #2c2c2c; 
}


.task-status {
  font-size: 12px;
  color: #4e8ef7; 
  margin-left: 10px;
}

.task-item button {
  background: none;
  border: none;
  color: #e74c3c; 
  font-size: 16px;
  cursor: pointer;
  transition: color 0.3s;
}

.task-item button:hover {
  color: #c0392b; 
}
